<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html dir="rtl" lang="en"> <!--<![endif]-->  
<head>
    <title>Sitad | By TurboSofts</title>

    <!-- Meta -->
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!--&lt;!&ndash; Web Fonts &ndash;&gt;-->
    <!--<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>-->

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/Content/Sitaad/plugins/bootstrap/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="/Content/Sitaad/css/css-rtl/style-rtl.css">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="/Content/Sitaad/css/css-rtl/headers/header-default-rtl.css">
    <link rel="stylesheet" href="/Content/Sitaad/css/css-rtl/footers/footer-v1-rtl.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/Content/Sitaad/plugins/animate.css">
    <link rel="stylesheet" href="/Content/Sitaad/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="/Content/Sitaad/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/Sitaad/plugins/fancybox/source/jquery.fancybox.css">
    <!--<link rel="stylesheet" href="/Content/Sitaad/plugins/owl-carousel2/assets/owl.carousel.css">-->
    <link rel="stylesheet" href="/Content/Sitaad/plugins/revolution-slider/rs-plugin/css/settings.css" type="text/css" media="screen">
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="/Content/Sitaad/plugins/revolution-slider/rs-plugin/css/settings-ie8.css" type="text/css"
          media="screen"><![endif]-->

    <!-- Style Switcher -->
    <!--<link rel="stylesheet" href="/Content/Sitaad/css/plugins/style-switcher.css">-->
    <link rel="stylesheet" href="/Content/Sitaad/css/Turbosofts.css">

    <!-- CSS Theme -->
    <link rel="stylesheet" href="/Content/Sitaad/css/css-rtl/theme-colors/Sitadblue.css" id="style_color">
    <link rel="stylesheet" href="/Content/Sitaad/css/css-rtl/theme-skins/dark.css">

    <!-- RTL Customization -->
    <link rel="stylesheet" href="/Content/Sitaad/css/css-rtl/rtl.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="/Content/Sitaad/css/css-rtl/custom-rtl.css">

</head>	

<body id="totop" class="header-fixed">
<div class="turbosoftsmain">
<div class="wrapper page-option-v1">
    <!--=== Header ===-->
    <div class="header header-sticky">
        <div class="container">

            <!-- Logo -->
            <div class="page-scroll">

                <a class="logo pull-left" href="#totop">
                    <img class="logoimg" src="/Content/Sitaad/img/logo1-default.png" alt="Logo">
                </a>
            </div>
            <!-- End Logo -->


            <!-- Toggle get grouped for better mobile display -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse" style="margin-top:50px; ">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>
            <!-- End Toggle -->
        </div><!--/end container-->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
            <div class="container">
                <img  src="/Content/Sitaad/img/logotext.png" alt="Logotext" class="logotext">
                <ul class="nav navbar-nav">
                    <!-- Home -->
                    <li class="dropdown active">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            درباره سیتاد
                        </a>
                        <ul class="dropdown-menu">
                            <li class="page-scroll"><a href="#aboutsitad">سیتاد در یک نگاه</a></li>

                            <!-- One Page -->
                            <li class="dropdown-submenu">
                                <a href="javascript:void(0);">چرا خدمات سیتاد</a>
                                <ul class="dropdown-menu">
                                    <li><a target="_blank" href="#">1</a></li>
                                    <li><a target="_blank" href="#">2</a></li>
                                </ul>
                            </li>
                            <!-- End One Page -->

                            <!--UI  -->
                            <li>
                                <a href="#">ساختار سازمانی</a>
                            </li>
                            <!-- End UI -->

                        </ul>
                    </li>
                    <!-- End Home -->

                    <!-- Pages -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            خدمات سیتاد
                        </a>
                        <ul class="dropdown-menu">
                            <!-- About Pages -->
                            <li class="dropdown-submenu">
                                <a href="item1.html">سامانه مکاتبات اداری</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>

                                </ul>
                            </li>
                            <!-- End About Pages -->

                            <li><a href="#">سامانه استعلام</a></li>
                            <!-- End Invoice Page -->

                            <!-- Clients Page -->
                            <li><a href="#">سامانه های تبادل</a></li>
                            <!-- End Clients Page -->

                            <!-- Column Pages -->
                            <li><a href="#">داده های بین سازمانی</a></li>


                        </ul>
                    </li>
                    <!-- End Pages -->

                    <!-- Blog -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            راه کارها
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                        </ul>
                    </li>
                    <!-- End Blog -->

                    <!-- Features -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            پشتیبانی فنی
                        </a>
                        <ul class="dropdown-menu">


                            <li><a href="#">مستندات فنی </a></li>
                            <li><a href="#">مستندات آموزشی </a></li>
                            <li><a href="#">مقاله ها</a></li>
                        </ul>
                    </li>
                    <!-- End Features -->

                    <!-- Features -->
                    <li class="page-scroll">
                        <a href="#contactus">
                            تماس با ما
                        </a>
                        <!--<ul class="dropdown-menu">-->


                        <!--<li><a href="#">آدرس شرکت</a></li>-->
                        <!--<li><a href="#"></a></li>-->
                        <!--<li><a href="#">مقاله ها</a></li>-->
                        <!--</ul>-->
                    </li>
                    <!-- End Features -->

                    <!-- Shortcodes -->
                    <li class="dropdown mega-menu-fullwidth">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            در یک نگاه
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="mega-menu-content disable-icons">
                                    <div class="container">


                                        <div class="row equal-height">
                                            <div class="col-md-3 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
                                                    <li><h3>قسمت یک</h3></li>
                                                    <!-- Typography -->
                                                    <li><a href="#"><i class="fa fa-sort-alpha-asc"></i> 1</a></li>
                                                    <!-- End Typography -->
                                                    <!-- Components -->
                                                    <li><a href="#"><i class="fa fa-comment"></i> 2</a></li>
                                                    <!-- End Components -->
                                                </ul>
                                            </div>
                                            <!-- ------------------------------------------------------------- -->

                                            <div class="col-md-3 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
                                                    <li><h3>قسمت دوم</h3></li>

                                                    <!-- Buttons -->
                                                    <li><a href="#"><i class="fa fa-flask"></i> 1</a></li>

                                                    <!-- End Buttons -->

                                                    <!-- Icons -->
                                                    <li><a href="#"><i class="fa fa-chevron-circle-right"></i>2</a></li>

                                                    <!-- End Icons -->
                                                </ul>
                                            </div>
                                            <!-- ------------------------------------------------------------- -->

                                            <div class="col-md-3 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
                                                    <li><h3>قسمت سوم</h3></li>

                                                    <!-- Content Boxes -->
                                                    <li><a href="#"><i class="fa fa-cog"></i> 1</a></li>
                                                    <li><a href="#"><i class="fa fa-align-center"></i> 2</a></li>

                                                    <!-- End Common Elements -->
                                                </ul>
                                            </div>
                                            <!-- ------------------------------------------------------------- -->

                                            <div class="col-md-3 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
                                                    <li><h3>قسمت چهارم</h3></li>

                                                    <!-- Forms -->
                                                    <li><a href="#"><i class="fa fa-bars"></i> 1</a></li>
                                                    <li><a href="#"><i class="fa fa-bars"></i> 2</a></li>


                                                </ul>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- End Shortcodes -->


                    <!-- Search Block -->
                    <!--<li>-->
                    <!--<i class="search fa fa-search search-btn"></i>-->
                    <!--<div class="search-open">-->
                    <!--<div class="input-group animated fadeInDown">-->
                    <!--<input type="text" class="form-control" placeholder="جستجو">-->
                    <!--<span class="input-group-btn">-->
                    <!--<button class="btn-u" type="button">برو</button>-->
                    <!--</span>-->
                    <!--</div>-->
                    <!--</div>    -->
                    <!--</li>-->
                    <!-- End Search Block -->



                </ul>


                <!-- Topbar -->
                <div class="topbar ">
                    <ul class="loginbar pull-left">
                        <li class="hoverSelector">
                        <li><a style="margin-right: 10px;"href="#">ورود به سایت</a></li>
                    </ul>
                </div>
                <!-- End Topbar -->

            </div><!--/end container-->
        </div><!--/navbar-collapse-->
    </div>
    <!--=== End Header ===-->
    <div class="row">
        <div class=" margin-top-20" style="margin-top: 2%;">
            <div class="breadcrumbs">
                <div class="col-sm-12">
                    <h1 class="pull-left clear-both">خبر</h1>
                </div>
            </div><!--/container-->
            <ul class="pull-left breadcrumb clear-both col-sm-12" >
                <li><a href="index.html">خانه </a></li>
                <li><a href="archive.html">آرشیو اخبار </a></li>
                <li class="active">سیتاد خبر ۱</li>

            </ul>

        </div>

    </div>

    <div class="row">
    <div class="news-v3 bg-color-white margin-bottom-30">
        <div class="col-sm-6 col-xs-12 pull-right" style="margin-top: 140px;">
        <img class="img-responsive full-width " src="/Content/Sitaad/img/news/blog4.jpg" alt="">
        </div>
        <div class="news-v3-in">
            <ul class="list-inline posted-info">
                <li>موضوع:  <a href="#">اجتماعی</a></li>
                <li>تاریخ : ۹۴/۱۲/۲۳</li>
            </ul>
            <h2 class="headline"><a href="#">سیتاد خبر ۱ </a></h2>
            <p>
                شرکت سیتاد به عنوان گذرگاه الکترونیکی جهت ارتباط بین دستگاه های دولتی و ارائه دهنده خدمات دولتی به بخش های مختلف نقش اپراتوری را بر عهده دارد و هدف عمده آن برقراری ارتباطات G2G بین سازمان های دولتی و سامانه های آنها می باشد. بدین ترتیب مهم ترین ارزش افزوده سیتاد ارتباط System to System است.
                شرکت سیتاد در واقع یک اپراتور ارائه دهنده خدمت است که خدمات زیر را ارائه می دهد:
            </p>
            <ul>
                <li>
                    ارائه خدمات دولتی مانند خدمات پست، ثبت احوال و ... که خدمات آنها از طریق زیرساخت سیتاد در اختیار سازمان های مختلف قرار می گیرد
                </li>
                <li>
                    واسط ارتباطی بین سازمان یا نهادهای دولتی به منظور تبادل ارتباط و تبادل داده
                </li>
            </ul>
            <p>
                اپراتور سیتاد داده های سامانه های اطلاعاتی مختلف را در یک ابر اطلاعات قرار خواهد داد و سازمان های دولتی مختلف از طریق این ابر به یکدیگر متصل خواهند شد و تبادل داده از طریق زیرساخت این ابر انجام می-شود. خدمات مختلفی مانند سرویس مکاتبات اداری، سرویس ثبت احوال، سرویس دریافت ترازهای مالی از نهادهای دولتی و ... از طریق این زیرساخت تبادل می گردد
            </p>
            <p>
                در حال حاضر خدمات سیتاد شامل مشتریان (صاحبان سرویس)، کاربران (استفاده کنندگان سرویس) استانداردهای ارائه خدمات مختلف، کارفرمای بالادستی (نهاد ریاست جمهوری) و زیرساخت مخابراتی ارائه سرویس (شبکه دولت با اپراتوری نهاد ریاست جمهوری) است                </p>
            <br>
                <blockquote class="hero">
                    <p>
                        شرکت سیتاد به عنوان گذرگاه الکترونیکی جهت ارتباط بین دستگاه های دولتی و ارائه دهنده خدمات دولتی به بخش های مختلف نقش اپراتوری را بر عهده دارد و هدف عمده آن برقراری ارتباطات G2G بین سازمان های دولتی و سامانه های آنها می باشد. بدین ترتیب مهم ترین ارزش افزوده سیتاد ارتباط System to System است.
                        شرکت سیتاد در واقع یک اپراتور ارائه دهنده خدمت است که خدمات زیر را ارائه می دهد:
                    </p>
            </blockquote>

            <p>
                شرکت سیتاد به عنوان گذرگاه الکترونیکی جهت ارتباط بین دستگاه های دولتی و ارائه دهنده خدمات دولتی به بخش های مختلف نقش اپراتوری را بر عهده دارد و هدف عمده آن برقراری ارتباطات G2G بین سازمان های دولتی و سامانه های آنها می باشد. بدین ترتیب مهم ترین ارزش افزوده سیتاد ارتباط System to System است.
                شرکت سیتاد در واقع یک اپراتور ارائه دهنده خدمت است که خدمات زیر را ارائه می دهد:
            </p>
            <p>
                اپراتور سیتاد داده های سامانه های اطلاعاتی مختلف را در یک ابر اطلاعات قرار خواهد داد و سازمان های دولتی مختلف از طریق این ابر به یکدیگر متصل خواهند شد و تبادل داده از طریق زیرساخت این ابر انجام می-شود. خدمات مختلفی مانند سرویس مکاتبات اداری، سرویس ثبت احوال، سرویس دریافت ترازهای مالی از نهادهای دولتی و ... از طریق این زیرساخت تبادل می گردد
            </p>
            <p>
                در حال حاضر خدمات سیتاد شامل مشتریان (صاحبان سرویس)، کاربران (استفاده کنندگان سرویس) استانداردهای ارائه خدمات مختلف، کارفرمای بالادستی (نهاد ریاست جمهوری) و زیرساخت مخابراتی ارائه سرویس (شبکه دولت با اپراتوری نهاد ریاست جمهوری) است                </p>
            <br>


        </div>
    </div>
    </div>

    <!--=== Footer Version 1 ===-->
    <div id="contactus" class="footer-v1">
        <div class="footer">
            <div class="col-md-10 col-md-push-1">
                <div class="row">
                    <!-- About -->
                    <div class="col-md-3 md-margin-bottom-40" style="top:-30px;">
                        <a href="#"><img id="logo-footer" class="footer-logo" src="/Content/Sitaad/img/logo2-default.png" alt=""></a>
                        <p>درباره ما </p>
                        <br>
                        <p>شرکت سیتاد به عنوان گذرگاه الکترونیکی جهت ارتباط بین دستگاه های دولتی و ارائه دهنده خدمات دولتی به بخش های مختلف نقش اپراتوری را بر عهده دارد</p>
                    </div><!--/col-md-3-->
                    <!-- End About -->

                    <!-- Link List -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <div class="headline"><h2>لینکهای مفید </h2></div>
                        <ul class="list-unstyled link-list">
                            <li><a href="#">درباره ما </a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">راهکارها </a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">سرویس ها </a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">پمستندات </a><i class="fa fa-angle-right"></i></li>
                        </ul>
                    </div><!--/col-md-3-->
                    <!-- End Link List -->


                    <!-- Latest -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <div class="posts">
                            <div class="headline"><h2>پشتیبانی </h2></div>
                            <ul class="list-unstyled latest-list">
                                <li>
                                    <a href="#">۱</a>

                                </li>
                                <li>
                                    <a href="#">۲</a>

                                </li>
                                <li>
                                    <a href="#">۳</a>

                                </li>
                            </ul>
                        </div>
                    </div><!--/col-md-3-->  
                    <!-- End Latest --> 
                    


                    <!-- Address -->
                    <div class="col-md-3 map-img md-margin-bottom-40">
                        <div class="headline"><h2>ارتباط با ما </h2></div>
                        <address class="md-margin-bottom-40">
                           آدرس  <br />
                           خیابان  <br />
                            تلفن  <br />
                          فاکس  <br />
                            رایانامه  <a href="mailto:۱@۲.com" class="">۱@۲ .com</a>
                        </address>
                    </div><!--/col-md-3-->
                    <!-- End Address -->
                </div>
            </div> 
        </div><!--/footer-->

        <div class="copyright">
            <div class="container">

            </div>
        </div><!--/copyright-->
        <div class="copyright-section-ts" style="background-color: black;">
            <div  style="background-color: black;">

                <div class="row">

                    <div class="col-sm-4">

                        <div class="copyright-ts">
                            کلیه حقوق نزد شرکت  <a target="_blank" href="#">سیتاد</a> محفوظ میباشد © ۱۳۹۵
                        </div><!--/ .cppyright-->

                    </div>
                    <div class="col-sm-4">
                        <ul class="social-icons">

                            <li><a href="#" data-original-title="Goole Plus" class="social_googleplus rounded-x"></a></li>
                            <li><a href="#" data-original-title="instagram" class="social_instagram rounded-x"></a></li>
                            <li><a href="#" data-original-title="Linkedin" class="social_linkedin rounded-x"></a></li>
                            <li><a href="#" data-original-title="skype" class="social_skype rounded-x"></a></li>
                        </ul>
                    </div>

                    <div class="col-sm-4">

                        <div class="developed-ts">
                            طراحی و ساخت توسط: <a target="_blank" href="http://www.Turbosofts.com/">TurboSofts</a>
                        </div><!--/ .developed-->

                    </div>

                </div><!--/ .row-->

            </div><!--/ .container-->
        </div>
    </div>     
    <!--=== End Footer Version 1 ===-->
</div><!--/wrapper-->
</div>
<!-- JS Global Compulsory -->
<script src="/Content/Sitaad/plugins/jquery/jquery.min.js"></script>
<script src="/Content/Sitaad/plugins/jquery/jquery-migrate.min.js"></script>
<script src="/Content/Sitaad/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script src="/Content/Sitaad/plugins/back-to-top.js"></script>
<script src="/Content/Sitaad/plugins/jquery.parallax.js"></script>
<script src="/Content/Sitaad/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
<!--<script src="/Content/Sitaad/plugins/owl-carousel2/owl.carousel.min.js"></script>-->
<script src="/Content/Sitaad/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="/Content/Sitaad/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

<!-- JS Page Level -->           
<script src="/Content/Sitaad/js/app.js"></script>
<script src="/Content/Sitaad/js/plugins/fancy-box.js"></script>
<!--<script src="/Content/Sitaad/js/plugins/owl-carousel-rtl.js"></script>-->
<script src="/Content/Sitaad/js/plugins/revolution-slider.js"></script>
<!--<script src="/Content/Sitaad/js/plugins/smoothScroll.js"></script>-->

<!-- JS Customization -->
<script src="/Content/Sitaad/js/custom.js"></script>
<script>
    jQuery(document).ready(function() {
      	App.init();
        App.initParallaxBg();
        FancyBox.initFancybox();
//        OwlCarousel.initOwlCarousel();
       // StyleSwitcher.initStyleSwitcher();
        RevolutionSlider.initRSfullWidth();


    $(function(){
        $(".Type_News").typed({
            strings: ["شرکت سیتاد به عنوان گذرگاه الکترونیکی جهت ارتباط بین دستگاه های دولتی و ارائه دهنده خدمات دولتی به بخش های مختلف نقش اپراتوری را بر عهده دارد ","دولت الکترونیک خبر ۱ ","دولت الکترونیک خبر ۱ "],
            typeSpeed: 20,
            loop: true,
            backDelay: 2000,
            contentType: 'html',
            showCursor: false
        });
    });
    });
</script>

<!--[if lt IE 9]>
<script src="/Content/Sitaad/plugins/respond.js"></script>
<script src="/Content/Sitaad/plugins/html5shiv.js"></script>
<script src="/Content/Sitaad/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->

</body>
</html>